@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.qr-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

.qr-box {
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}

img {
    width: 270px;
    height: 270px;
    border-radius: 10px;
}

p {
    text-align: center;
}

.qr-header {
    font-weight: 700;
    font-size: 22px;
    margin: 20px 0;
    color: hsl(218, 44%, 22%);
}

.qr-description {
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin: 0 10px 20px;
}

footer a {
    text-decoration: none;
}